.formulario {
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;
    border: 1px solid #444444;
    border-radius: 12px;
    background-color: #222222;
}

.formulario h2 {
    font-size: 28px;
}

.formulario input {
    display: block;
    width: 100%;
    margin: 0 0 15px;
    padding: 10px;
    border: 1px solid #555555;
    border-radius: 6px;
}


.formulario label {
    display: block;
    text-align: center;
}

.formulario button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}


