:root { /*aqui trata de fonte e cores gerais*/
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #111111;
}

* {
  box-sizing: border-box;
}

body {   /*uso pra remover a margem padrão do navegador*/
  margin: 0;
}

button, input, select{
  font: inherit;
}
